<p> Hi <%= @user.full_name %>,</p> 
<p> Welcome To InxPMS <br />
  You are member of <%= @user.organization.name %> organization.
</p> 
<h3> Sign in to your account: </h3>
<p> <%= link_to 'Click for sign in', new_user_session_url, :target => "_blank" %>  </p>
<h3> Username: </h3>
<%= @user.email %>
<h3> Password: </h3>
 <%= @user.password %>