<h1> List of Project Report </h1>
<table>
  <tr>
    <th> Timecard Description </th>
    <th> User </th>
    <th> Time Duration</th>
    <th> Type </th>
    <th> Date </th>
  </tr>
  <% @timecards.each do |timecard| %>
    <tr>
      <td><%= timecard.description %></td>
      <td><%= timecard.user.id %></td>
      <td><% @tm = timecard.time_duration.divmod(60) %>
        <% @hours = @tm[0] > 9 ? @tm[0].to_s : '0' + @tm[0].to_s %>
        <% @minutes = @tm[1] > 9 ? @tm[1].to_s : '0' + @tm[1].to_s %>
        <%#= @hours + ":" + @tm[1].to_s %>
        <%= @hours + ":" + @minutes %>
        <%#=  @tm[0].to_s + ":" + @tm[1].to_s %>
      </td>
      <td><%= timecard.role %></td>
      <td><%= timecard.created_at %></td>
    </tr>
  <% end %>
  <tr>

  </tr>
  <tr>
    <td style="border-style:solid;border-width:1px;"><% @t = @timecards.map(&:time_duration).inject(0, :+).divmod(60) %>
      <label>Total:<span style="float:right;margin-right:-75px;border-style:solid;border-width:2px;"> <%= @t[0].to_s + ":" + @t[1].to_s %></span></label>
    </td>
  </tr>

</table>



