<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Industry:</b>
  <%= @organization.industry %>
</p>

<p>
  <b>Street 1:</b>
  <%= @organization.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%= @organization.street_2 %>
</p>

<p>
  <b>City:</b>
  <%= @organization.city %>
</p>

<p>
  <b>State:</b>
  <%= @organization.state %>
</p>

<p>
  <b>Country:</b>
  <%= @organization.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @organization.zipcode %>
</p>

<p>
  <b>Office number 1:</b>
  <%= @organization.office_number_1 %>
</p>

<p>
  <b>Office number 2:</b>
  <%= @organization.office_number_2 %>
</p>

<p>
  <b>Fax number:</b>
  <%= @organization.fax_number %>
</p>

<p>
  <b>Website:</b>
  <%= @organization.website %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>

<p>
  <b>Facebook:</b>
  <%= @organization.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @organization.twitter %>
</p>

<p>
  <b>Linked:</b>
  <%= @organization.linked %>
</p>

<%#= link_to 'Edit', edit_organization_path(@organization) %> 
<%#= link_to 'Back', organizations_path %>
